$darkest: #0b090a;
$darker: #161a1d;
$dark: #083d4a;
$primaryd: #10657a;
$primary: #189aba;
$primaryl: #26d0fa;
$gray: #b1a1a6;
$light: #d3d3d3;
$lighter: #f5f3f4;
$lightest: #ffffff;



// Mixins
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    color: $primary;
}
.lightest {
    color: $lightest;
}